body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*https://cssgradient.io/*/

.qr-body {
  background-color: rgb(235, 241, 241);
}

.header {
  background: rgb(2, 0, 36);
  background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(6, 29, 83, 1) 35%, rgba(35, 7, 66, 1) 100%);
}
.sidemenu {
  width: 80px;
  align-items: center;
  text-align: center;
  height: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(166deg, rgba(2, 0, 36, 1) 0%, rgba(6, 29, 83, 1) 35%, rgba(69, 11, 133, 1) 100%);
}

.sidepanel {
  width: 330px;
}

.sidepanel-child1 {
  background: rgb(35,46,52);
  background: linear-gradient(45deg, rgba(35,46,52,1) 0%, rgba(120,114,139,1) 35%, rgba(108,101,115,1) 100%);  

}
.underheader {
  height: 50px;
}
.footer {
  height: 40px;
}
.close-arrow {
  text-align: center;
  width: 18px;
  height: 50px;
  padding: 2px;
  background: rgb(2, 0, 36);
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  background: linear-gradient(166deg, rgba(2, 0, 36, 1) 0%, rgba(6, 29, 83, 1) 35%, rgba(69, 11, 133, 1) 100%);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
